body{
    text-align: center;
    font-family: "Arial";
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cabecera{
    background-color:#33A;
    color: white;
    padding: 0.4em;
    font-weight: bold;
}

.container{
    width: 70%;
    border: 1px dotted #333;
    margin: 0 auto;
    text-align: left;
    padding: 1em;


}

.container h1{
  
    font-size: 20px;
 
}